<a href="https://colab.research.google.com/github/ujjawala1501/Python_Practice_Problems/blob/main/List_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Code to check if there is any element similar in the other array

**SECOND LARGEST**
You are given an integer array A. You have to find the second largest element/value in the array or report that no such element exists.

In [ ]:
'''A=[2,3,5,1,6,4,8]
A.remove(max(A))
B=max(A)
print(B)'''
#ANOTHER APPROACH
def solve(A):
  max_val=A[0]
  sec_max=A[0]
  if len(A)>1:
    for x in A:
      if max_val<x:
        max_val=x
    A.remove(max_val)
    print("max_val",max_val)
    for y in A:
      if sec_max<y:
        sec_max=y
    return sec_max
  return (-1)

solve([2,3,5,1,6,4,8])

max_val 8

6

Given an array A, find the difference between the maximum and minimum element of the array.

Return the difference between the maximum and minimum element of the array.

In [ ]:
def solve(self, A):
        max_val=A[0]
        min_val=A[0]
        MX=0
        MN=0
        dif=0
        for x in A:
            if max_val<x:
                max_val=x
        MX=max_val
        for y in A:
            if min_val>y:
                min_val=y
        MN=min_val
        return MX-MN

#I can also do this by using min() and max() function.

Which of the options adds the elements 'Dhoni' and 'Virat' to the end of the given list.

players=['Jadeja','Rahul','Rohit']. So, the resultant list will be players=['Jadeja','Rahul','Rohit','Dhoni','Virat']

Option A)players+=’Dhoni Virat’ gives [‘Jadeja’,’Rahul’,’Rohit’,’D’,’h’,’o’,’n’,’i’,’ ‘,’V’,’i’,’r’,’a’,’t’] as output.
Option B)players[len(players):] = [‘Dhoni’, ‘Virat’] gives [‘Jadeja’, ‘Rahul’, ‘Rohit’, ‘Dhoni’, ‘Virat’] as output.
Option C)players[-1:] = [‘Dhoni’, ‘Virat’] gives [‘Jadeja’, ‘Rahul’, ‘Dhoni’, ‘Virat’] as output.
Option D)players+=[‘Dhoni’, ‘Virat’] gives [‘Jadeja’, ‘Rahul’, ‘Rohit’, ‘Dhoni’, ‘Virat’] as output.

Hence, the correct options are players[len(players):] = [‘Dhoni’, ‘Virat’] and players+=[‘Dhoni’, ‘Virat’].

Match the tasks in the first column with the correct code in the second column.

list_1 = [‘Python’ , 24,’Black’, False, -8, ‘Data’]

list_2 = [42, 7,’Summer’]

ANSWER:
a-4,b-1,c-2,d-3

*What does creating a slice of an object do in Python?*
It creates a new object that contains the result of the slice.

**QUESTION 4**

Given a sorted integer array A, and an integer B. Find the first and last index of B in A.
It is guaranteed that B exists in A.

Return an array C of size 2, where C[0] is the first index of B in A and C[1] is the last index of B in A.

Note - Indexing of A starts from 0.

Output Format
**An integer array C of size 2.**


Example Input
Input 1:
A = [-2, -2, 4, 4, 8, 9]
B = 4

Input 2:
A = [1, 9, 9, 9, 10, 21]
B = 9


Example Output
Output 1:
C =  [2, 3]

Output 2:
C = [1, 3]

**USE OF del keyword**

In [ ]:
#HIGHLIGHT HERE IS del keyword in slicing
from traitlets.traitlets import Bunch
A = [1, 9, 9, 9, 10, 21]
B = 9
C=[]
for x in range(len(A)):
  if A[x]==B:
    C.append(x)
if len(C)>2:
  del C[1:len(C)-1]
print(C)

[1, 3]

**QUESTION 5**
Given a sorted integer array A and an integer B. Find the ceil and floor of B in the array A.

- Ceil of an integer X in the array is an element which is just greater than or equal to X.
- Floor of an integer X in the array is an element which is just smaller than or equal to X.

Return an array of size 2. The first element of the array will be ceil of B and the second element will be the floor.

Note - Input is such that the ceil and floor of B always exist in array A.

Output Format

An integer array C of size 2.


Example Input
Input 1:
A = [-2, 4, 8, 9]
B = 0

Input 2:
A = [1, 9, 21]
B = 9

Output 1:
C =  [4, -2]

Output 2:
[9, 9]

Explanation 1:

Just greater or equal element than 0 in A is 4 and

just smaller or equal element than 0 is A is -2.

Explanation 2:
Ceil and floor of 9 will be 9 itself as 9 is present in the array.

In [ ]:
#A=[1,2,3,4,5,6]
#A=[-2, 4, 8, 9]
A=[1, 9, 21]
B=9
C=[0,0]
for x in range(len(A)):
  if A[x]<=B:
    C[1]=A[x]  #Do not append the values here 
  if A[x]>=B:
    C[0]=A[x]
    break
print(C)

[9, 9]

**Question:**
Given an array A, check if it is sorted in non decreasing order or not.

Input 1:
 A = [1, 2, 2] 
Input 2:
 A = [1, 2, 1] 


Example Output
Output 1:
 1
Output 2:
 0

 refer-https://www.youtube.com/watch?v=3Tcq_dBhIrQ

 ***Here catch is to check the current number is less than the previous number***like A[x](current cursor) <=A[x**-**1]
 **also DO NOT INCLUDE 0 INDEX START FROM 1 **

In [ ]:
#A=[1,2,1]
A=[1,2,2]
cnt=True
for x in range(len(A)-1):
  if A[x]<=A[x-1]:
    cnt=False
    break
print(cnt)
 
'''ANOTHER APPROACH
#A=[1,2,2,4,5,5,9]
def solve(A):
  B=True
  for x in range(1,len(A)-1):
    if A[x]<A[x-1]:
      B=False
      break
  return B
print(solve(A))
''' 
#************MY MISTAKE I included the 0th index as well*******
''' def solve(self, A):
        flg=1
        for x in range(len(A)-1):
            if A[x]<A[x-1]:
                flg=0
                break
        return flg
            
    '''

False

**QUESTION**
There is a list called new_students that contains the names of 3 new students joining the python-beginner course. Which of the following operations are suitable to add the names of all 3 new students at once to the existing student list.

old_students = ['Manoj', 'Raju', 'Shiva' ]

new_students = ['Akhil', 'Balu', 'Chitra']

Output of operation should be: ['Manoj', 'Raju', 'Shiva', 'Akhil', 'Balu', 'Chitra']

**ANSWER**

old_students.**extend**(new_students)

True

**QUESTION**
Given an integer array A, find the inverse of the array A and return it.

All the elements of the given array are distinct and elements of the array lie in the range [0, |A|).

Note - The inverse of the array means the array elements are swapped with their corresponding indices.

Input 1:
A = [2, 0, 1]
Input 2:
A = [3, 1, 0, 2]


Example Output
Output 1:
[1, 2, 0]
Output 2:
[2, 1, 3, 0]

**A[0]=7,A[1]=2 -> A[7]=0,A[2]=1**

**Using the enumerate()**: enumerate() allows us to loop through elements as well as the index within the list. This is helpful when we want to traverse only certain index elements in the list based on certain condition(s).
my_List = ['i', 'n', 't', 'e', 'r', 'n']
*CODE*

for i, item in enumerate(my_List):

    if i%2 == 0:
        print(i, item)

In [ ]:
'''here we need c as exact length of A so that we can add element anywhere in that already occupied space,
#after that we will run a while loop ,for loop is also fine now in a temp variable x stored i that is index of A's element so 
(for the first iteration) x=0 i.e i=0 and y=A[i] i.e A[0] which is = 3,now c[y]=>c[3]=0 that means the empty list c which we created
 already have space for 3rd element it will put 0'''
A=[3, 1, 0, 2]
c = [0]*len(A)
print(len(c))
i = 0
while i <= len(A)-1: 
      x = i
      y = A[i]
      c[y]=x
      i+=1
print(c)

4
[2, 1, 3, 0]

In [ ]:
#append takes whole list and puts it inside the main list
'''
ex:
a=[1,2]
b=[2,3]
a.append(b)
=>[1,2,[2,3]]
'''
l = []
odi = [120, 30, 50]
l.extend(odi)
print(l)'''
l = []
odi = [120, 30, 50]
l.append(odi)
print(l)

[[120, 30, 50]]