<a href="https://colab.research.google.com/github/ujjawala1501/Python_Practice_Problems/blob/main/Scaler_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 6
a -= 9
print(a)

-3

In [ ]:
A=input()
print("Hello "+A)

rahul
Hello rahul

In [ ]:
A=input()
print(f"Hello {A}")

rahul
Hello rahul

In [ ]:
A=input()
print('"Hello ' + A + '"')

rahul
"Hello rahul"

In [ ]:
A="anand"
print("Hello",A)

Hello anand

In [ ]:
print("A\nB\nB\nC\nD\nE")

A
B
B
C
D
E

In [ ]:
N=40
act_time=int(input())
print(40-act_time)

30
10

In [ ]:
bake_time_fr_each_lyr = 2
layers=int(input("enter how many layers in your lasagna"))
print(bake_time_fr_each_lyr * layers)

enter how many layers in your lasagna2
4

In [ ]:
N=int(input())
M=int(input())
print((N*2)+M)

1
29
31

In [ ]:
print(103%7)

5

In [ ]:
99%7

1

In [ ]:
x = 11
y = 2
z = 4
res = (x + y - z) ** (x % z)
print(res)

729

In [ ]:
x=int("5")
type(x)

int

In [ ]:
print(int(True))

1

In [ ]:
print(bool('false'))

True

In [ ]:
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
print('2' == 2)

False

In [ ]:
type(print(10))

10

NoneType

In [ ]:
x = 20
y = 5
result = (x + True) / (4 - y * False)
print(floor(result)) # threw error because math module needed to be imported and then to use floor do -math.floor

NameError: ignored

In [ ]:
sub1_clsA=int(input())
sub2_clsA=int(input())
sub1_clsB=int(input())
sub2_clsB=int(input())

if ((sub1_clsA+sub2_clsA)/2)>((sub1_clsB+sub2_clsB)/2):
    print (True)
else:
    print (False)

80
27
54
61
False

Assignment Question

In [ ]:
lang = input() 
if lang == "Python" or lang == "Java":
  print("Nice Choice")
elif lang == "C++":
  print("I am speed")
elif lang == "Javascript":
  print("Oh. You are a web developer")
elif lang == "Golang":
  print("You are a cool person")
else:
  print("I don't know that language")

Java
Nice Choice

In [ ]:
if False:                     
    print("Artificial Intelligence")
elif True:
    print("Machine Learning")
elif True:
    print("Data Science")
else:
    print("Deep Learning")

Machine Learning

In [ ]:
a = 1    #1-TRUE  2-FALSE and is following 'AND' rule TRUE and True=True and any other condition.
b = 0
c = 1
if (a and b):
    print("Scaler is awesome")
elif (a and c):
    print("ML is fun")
if (a and b and c):
    print("Python is amazing")
if (a or b or c):
    print("I love DS")

ML is fun
I love DS

**FIZZ BUZZ always check for multiple condition first**

In [ ]:
N = int(input())  
if N%3==0 and N%5==0:
  print("FizzBuzz")
elif N%3==0:
  print("Fizz")
elif N%5==0:
  print("Buzz")

5
Buzz

**RANGE AND MATH FOR PROGRAMMERS**

In [ ]:
a=list(range(1,8))  #range(start,stop,step)

In [ ]:
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
import math
print(math.log10(1000))

3.0

In [ ]:
import math
print(math.log2(9))

3.169925001442312

'end' and 'sep' are different end applies even at the end of line but sep only between elements

In [ ]:
print("a",end="b")
print("b", end="c")

abbc

**WHILE LOOP**

In [ ]:
i=1

while i<=10:
  print(i,end=" ")
  i=i+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
i=1
inpt=int(input("end value"))

while i <=inpt:
    print(i,end=",")
    i=i+2

end value20
1,3,5,7,9,11,13,15,17,19,

In [ ]:
i=4
inpt=int(input("end value"))

while i <=inpt:
    print(i,end=",")
    i=i+4

end value20
4,8,12,16,20,

In [ ]:
i=1
inp=int(input())
while i<=inp:
    print(2**i,end=" ")
    i=i+1

10
2 4 8 16 32 64 128 256 512 1024

In [ ]:
N = 2
while i <= N:
    print(i)
    i += 1

print(5)

5

In [ ]:
i=1

n=int(input())
while i<=n:
  print(i*i)
  i=i+1

20
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [ ]:
i=1
t=int(input())
while i<=t:
  m=int(input())
  print(m*m,end=" ")
  i=i+1

3
2
4 5
25 6
36

In [ ]:
import math

i=int(input())
j=int(input())

res1=math.floor(i/j)
print(res1)

4
5
0

In [ ]:
import math
def main():
  i=int(input())
  j=int(input())

  res1=math.floor(i/j)
  print(res1)
    
  return 0

if __name__ == '__main__':
    main()

16
2
8

In [ ]:
N=int(input())
i=2
while i<=N:
  print(i,end=" ")
  i=i+2

10
2 4 6 8 10

In [ ]:
i=1
N=int(input())
while i<=N:
  print(i,end=" ")
  i=i+2

10
1 3 5 7 9

In [ ]:
n=int(input())
i=2
while (i<=n):
  if i%2==0:
    print(i)
  i+=1

20
2
4
6
8
10
12
14
16
18
20

In [ ]:
N=int(input())
i=1
while (i*4)<=N:
  print(i*4)
  i=i+1

22
4
8
12
16
20

In [ ]:
A=int(input())
i=1
while i*i<=A:
  print(i*i,end=" ")
  i=i+1

100
1 4 9 16 25 36 49 64 81 100

In [ ]:
A=int(input())
i=1
while i<=10:
  print(i*A)
  i=i+1

3
3
6
9
12
15
18
21
24
27
30

In [ ]:
A=int(input())
i=1
while i<=10:
  print(A, '*', i, '=', A * i)
  i=i+1

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
num=16
base=4
cnt=0
while(num>1):
  num -= base
  cnt+=1
print(cnt)

4

In [ ]:
T=int(input())
cnt=1
while T>=1:
  N=int(input())
  f=N%10
  print(f)
  cnt=cnt+1
  T=T-1
print(cnt)

2
1
1
0
0
3

In [ ]:
T=int(input())
i=1
while i<=T:
   N=input()
   print(len(N))
   i=i+1

2
0
1
1
1

In [ ]:
N=12345
print(N%10)

5

**SUM OF INTEGERS OF A NUMBERS**

In [ ]:
T=int(input())
i=1
while i<=T:
  N=int(input())
  sum=0
  while N!=0:
    sum1=N%10
    N=N//10
    sum=sum+sum1
  print(sum)
  i=i+1

2
1234
10
12345
15

In [ ]:
print(list(range(1, 11, 2)))

[1, 3, 5, 7, 9]

In [ ]:
for i in range(1,6):
  print (i,end=" ")
type(i)

1 2 3 4 5

int

**'range' example of range(start,stop,step)**

In [ ]:
N=int(input())
for i in range(4,N+1,4):
  print(i,end=" ")

20
4 8 12 16 20

In [ ]:
N=int(input())
s=0
for i in range(2,N+1,2):
  s+=i
print(s)

10
30

In [ ]:
N=523
print(N%100)

23

In [ ]:
print(0%2)

0

In [ ]:

c=0
for i in range(0, 10):
    if i%2==0:
        c=c+1
print(c)

5

In [ ]:
c=0
for i in range(0, 10):
    if i%2:
        c=c+1
print(c)

5

In [ ]:
c=0
for i in range(0, 11):
    if i%2==0:
        c=c+1
print(c)

6

In [ ]:
x = 1
for i in range(x):
    x=x+1
    print(i, end= " ")

0

In [ ]:
N=int(input())
for i in range(1,N+1):
  print(i,end=" ")

5
1 2 3 4 5

In [ ]:

N=int(input())
sum=0
for i in range(1,N+1):
  sum=sum+i
print(sum)

10
55

**REVERSE NUMBERS USING RANGE**

In [ ]:
N=int(input())
for i in range(N,0,-1):
  print(i,end=" ")

10
10 9 8 7 6 5 4 3 2 1

In [ ]:
bool(3)

True

In [ ]:
A=int(input())
sum=0
for i in range(1,A+1,2):
  sum=sum+i
print(sum)

57
841

In [ ]:
N=int(input())
for i in range(N):
  print("*",end="")

5
*****

**'sep' - how does it works**

In [ ]:
N=int(input())
for i in range(N):
  print("*","$",sep='HIHIHI')

5
*HIHIHI$
*HIHIHI$
*HIHIHI$
*HIHIHI$
*HIHIHI$

In [ ]:
N=int(input())
for i in range (1,N+1):
  if N%i==0:
    print(i,'prime')

5

In [ ]:
N=int(input())
cnt=0
for i in range (1,N+1):
  if N%i==0:
    cnt=cnt+1

if cnt==2:
  print("prime")
else:
  print("notprime")

100
notprime

In [ ]:

lst=[1,3,6,10,15,21]
for i in lst:
  print(i**2)

1
9
36
100
225
441

In [ ]:
A=int(input())
cnt=0
for i in range(1,A+1):
  if A%i==0:
    cnt=cnt+1
if cnt==2:
  print("YES")    
else:
  print("NO")

18
NO

In [ ]:
i=2
if i==2:
    i+=1
for j in range(i):
    pass
    break
    i+=1
print(i)

3

In [ ]:
print(0%2)

0

**CODE TO GET THE LAST DIGIT OF A NUMBER**

In [ ]:
A=int(input())

B=A%10
print(B)
A=A//10
print(C)

2345
5
234

In [ ]:
A=input()
for i in (A):
  if i=="0":
    print("zero",end=" ")
  elif i=="1":
    print("one",end=" ")
  elif i=="2":
    print("two",end=" ")
  elif i=="3":
    print("three",end=" ")   
  elif i=="4":
    print("four",end=" ")
  elif i=="5":
    print("five",end=" ")
  elif i=="6":
    print("six",end=" ")
  elif i=="7":
    print("seven",end=" ")
  elif i=="8":
    print("eight",end=" ")
  elif i=="9":
    print("nine",end=" ")

01234
zero one two three four

In [ ]:
N=int(input())
cnt=0
cnt2=0
for i in range(2,N):
  for j in range(1,i+1):
    if i%j==0:
      cnt=cnt+1
  if cnt==2:
    cnt2=cnt2+1
if cnt2==2:
  print(i)

5

In [ ]:

1,2,3,4,5

0

In [ ]:
N=int(input())
for i in range(2,N+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

5
2
3
5

In [ ]:

lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_value, upper_value + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Please, Enter the Lowest Range Value: 2
Please, Enter the Upper Range Value: 10
The Prime Numbers in the range are:
2
3
5
7

In [ ]:

lower_value = int(input ("Please, Enter the Lowest Range Value: "))  
upper_value = int(input ("Please, Enter the Upper Range Value: "))  
for number in range (lower_value, upper_value + 1):  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:
          print (number)

Please, Enter the Lowest Range Value: 5
Please, Enter the Upper Range Value: 10
5
7

**USING BREAK**

In [ ]:
count = 0
while (count < 0):    
    count = count+1
    print(count)
    break
else:
    print("No Break")

No Break

In [ ]:
N=int(input())
for i in range(N):
  A=int(input())
  sum=0
  for j in range(1,A):
    if A%j==0:
      sum=sum+j 
  if sum==A:
    print("YES")
  else:
    print('NO')

3
4
NO
6
YES
3
NO

**SORT FUNCTION **

In [ ]:
num=[1,4,3,2,6]
print(num.sort())

[1, 2, 3, 4, 6]

In [ ]:
n = int(input().strip())
if n%2!=0:
  print("Weird")
elif 2<n<5 and n%2==0:
    print("Not Weird")
elif 6<n<20 and n%2==0:
    print("Weird")
elif n>20 and n%2==0:
    print("Not Weird")

17
Weird

**TO FIND A LEAP YEAR **

In [ ]:
def is_leap(year):
    leap = False
    
    if year%4==0:
        leap=True
        if year%100!=0:
          leap=True
          if year%400==0:
            leap = True
    
    return leap

year = int(input())
print(is_leap(year))

2100
True

**LCM AND GCD**

In [ ]:
a=int(input())
b=int(input())
gcd=1
lcm=0
for i in range (1,min(a,b)+1):
  if a%i==0 and b%i==0:
    gcd=i
print(gcd)
lcm=(a*b)//gcd
print(lcm)

10
15
5
30

**PATTERN PROBLEMS**

In [ ]:
for i in range(3):
    print('*', end='')
for i in range(3):
    print('*', end='')
for i in range(3):
    print('*', end='')

*********

In [ ]:
for i in range (3):
  for j in range (5):
    print("*",end="")
  print()

*****
*****
*****

In [ ]:
for i in range (5):
  for j in range (i):
    print("*",end="")
  print()

*
**
***
****

**Reverse Game**

In [ ]:
T=int(input())
for i in range (T):
  N=int(input())
  X=0
  while N>0:
    Y=N%10
    X=10*X+Y
    N=N//10
  print(X)

1
123456789
987654321

**A NUMBER IS PALINDROME OR NOT**

In [ ]:
A=int(input())
X=0
B=A
while A>0:
  Y=A%10
  X=10*X+Y
  A=A//10
if X==B:
  print("Yes")
else:
  print("No")

131
Yes

 HCF using Loop

In [ ]:
T=int(input())
for i in range(T):
  A=int(input())
  B=int(input())
  gcd=0
  for i in range(1,min(A,B)+1):
    if A%i==0 and B%i==0:
      gcd=i
  print(gcd)

2
15
105
15
24
36
12

FIND LCM WHERE LCM=A*B//GCD(A,B)

In [ ]:
t=int(input())
for i in range(t):
  A=int(input())
  B=int(input())
  gcd=0
  lcm=0
  for i in range(1,min(A,B)+1):
    if A%i==0 and B%i==0:
      gcd=i
  lcm=(A*B)//gcd
  print(lcm)

2
2
3
6
9
6
18

In [ ]:
for i in range(1):
    for j in range(2):
        for k in range(1):
            print("a", end=" ")
        print(end=" ")
    print("c")

a  a  c

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(1,(N-i+1)+1):
    if j==N-i+1:
      print(j,end="")
    else:
      print(j,end=" ")
  print()

12
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(1,N+1):
    if j==1 or j==N:
      print("*",end="")
    else:
      print("_",end="")
  print()

5
*___*
*___*
*___*
*___*
*___*

ONLY THIS CODE IS FROM UDEMY

In [ ]:
def hello(name="jose"):
  print("this hello() function has been executed!")

  def greet():
    return'\t this is the greet() func inside hello'

  def welcome():
    return'\t this is welcome() inside hello!'

  print(greet())
  print(welcome())

In [ ]:
hello()

this hello() function has been executed!
	 this is welcome() inside hello!

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(1,N+1):  
    if j==1 or j==N:
      print("*",end="")
    else:
      print(" ",end="")
  print()

5
*   *
*   *
*   *
*   *
*   *

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(i-1):
    print("_",end="")
  for j in range(N-i+1):
    print("*",end="")
  print()

5
*****
_****
__***
___**
____*

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(N-i):
    print("_",end="")
  for j in range(i):
    print('*',end=" ")
  print()

5
____*
___* *
__* * *
_* * * *
* * * * *

In [ ]:
  N=int(input())
  for i in range(1,N+1):
    for j in range(1,i+1):
      if j%2==0:
        print("_",end="")
      else:
        print(j,end="")
    print()

5
1
1_
1_3
1_3_
1_3_5

In [ ]:

N=int(input())
for i in range(1,N+1):
  for j in range(i):
    print("*",end="")
  for j in range(2*N-2*i):
    print(" ",end="")
  for j in range(i):
    print("*",end="")
  print()

12
*                      *
**                    **
***                  ***
****                ****
*****              *****
******            ******
*******          *******
********        ********
*********      *********
**********    **********
***********  ***********
************************

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range (i):
    print("*",end="")
  print()
for i in range(1,N+1):
  for i in range(1,N-i+1):
    print("*",end="")
  print()

12
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
N=int(input())
for i in range(1,N+1):
  print("*",end="")
print()
for i in range(1,N-1):
  print("*",end="")
  for j in range(N-i-2):
    print(" ",end="")
  print("*")

print("*")

8
********
*     *
*    *
*   *
*  *
* *
**
*

In [ ]:
8**************************wrong***********
N=int(input())
for i in range(1,N+1):
  for j in range(1,N-i+1):
    if i==1 or i==N or j==1 or j==(N-i+1):
      print("*",end="")
    else:
      print(" ",end="")
  print()

5
****
*
*
*

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(N-i):
    print("0",end="")
  for j in range(1,(2*i-1)+1):
    print(j*(N-i+1),end="")
  for j in range(N-i):
    print("0",end="")
  print()

5
000050000
0004812000
00369121500
024681012140
123456789

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(1,(N-i)+1):
    print(0,end=" ")
  for j in range(1,(2*i-1)+1):
    print(j*(N-i+1),end=" ")
  for j in range(1,(N-i)+1):
    print(0,end=" ")
  print()

5
000050000
0004812000
00369121500
024681012140
123456789

In [ ]:
N=int(input())
for i in range(1,N+1):
  for j in range(i):
    print(" ",end="")
  for j in range(1,(N-i+1)+1):
    print("*",end=" ")
  print()

5
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
N=int(input())
for i in range(1,N+1):
    for j in range(N-i):
        print(0,end=" ")
    for j in range(i,(2*i-1)+1):
        print(j,end=" ")
    for j in range(2*i-2,i-1,-1):
        print(j,end=" ")
    for j in range(N-i):
        print(0,end=" ")
    print()

5
0 0 0 0 1 0 0 0 0
0 0 0 2 3 2 0 0 0
0 0 3 4 5 4 3 0 0
0 4 5 6 7 6 5 4 0
5 6 7 8 9 8 7 6 5

**COUNT A REPEATATION OF LETTER IN A STRING**

In [ ]:
A="AABAAB"
C=len(A)
cnt=0
for i in range(0,len(A)):
    if A[i]=="B":
       cnt=cnt+1
print (cnt)

2

In [ ]:
def f(num):
  return num + 55
f(5)
print(num)

NameError: ignored

In [ ]:
n=5
for i in range(1,n+1):
        print (i,end="")
print()
print()
for j in range(n,0,-1):
        print (j,end="")

12345

54321

In [ ]:
x = 55
def hi():
  x=11
  return x
print(hi())
print(x)

11
55

**FIND IF A NUMBER IS PERFECT SQUARE OR NOT**

In [ ]:
def per_sq(n):
  cnt=0
  for i in range(1,n):
        if n%i==0:
            cnt=cnt+i
  print(cnt)
  if cnt==n:
     return 1
  else:
     return 0
print(per_sq(96))

156
0

In [ ]:
1x=10
y=x
_x=20
print(_x)

SyntaxError: ignored

In [ ]:
whole_number,str,decimal=10,"Hello World",22.50
print(whole_number)
print(str)
print(decimal)

10
Hello World
22.5

In [ ]:
print(4 or 3)
print(4 and 2)

4
2

In [ ]:
print(5, end='hello\n')
print('world')
print('how', end='are you')

5hello
world
howare you

In [ ]:

i = 0
j = 0
while i <= 2:
    if j%2:
        j += 1
    print(i, ":", j, end=" ")
    i+=1
    j+=1

0 : 0 1 : 2 2 : 4

**HOW 'end' WORKS?**

In [ ]:
N = 20

for i in range(N):
    if i == N-5:
        print(i)
    else:
        print(i, end=', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15
16, 17, 18, 19,

**GLOBAL AND LOCAL VARIABLE**

In [ ]:
a=10
b=2
def random3():
  global a
  b=3
  a=5 
  print("inside func a = ",a)
  print("inside func b = ",b)

random3()
print("outside func a = ",a)
print("outside func b = ",b)

inside func a =  5
inside func b =  3
outside func a =  5
outside func b =  2

In [ ]:
a=input()
for i in a:
  print(i)

18892
1
8
8
9
2

In [ ]:
type(i)

str

In [ ]:
N=int(input())
for i in range(N):
    A=input()
    cnt=0
    for k in A:
        if k=='1':
           cnt=cnt+1
        else:
            pass
    print(cnt)

1
112341
3

In [ ]:
n=int(input())
for i in range(1,n):
  cnt=0
  for j in range(1,i):
    if i%j==0:
      cnt=cnt+j
  if cnt==i:
    print(i)

35
6
28

In [ ]:
N=28
cnt=0
for i in range(1,N):
  if N%i==0:
    cnt=cnt+i
print(cnt)
if cnt==N:
  print("yes")

28
yes

In [ ]:
import math
print(math.floor(25/100))

0

In [ ]:
n=float(input())

234

In [ ]:
type(n)

float

In [ ]:
import math
a=int(input())
cnt=0
d=0
for i in range(1,a):
  if i*i==a:
    d=i
    cnt=1
  else:
    pass
if cnt==1:
  print(1)
  print(d)
else:
  print(0)

4
1
2

In [ ]:
 A=int(input())
 d=A/200
 print(round(d))

500
2

In [ ]:
def Interest(p,c,t=2,r=0.09):
  return p*t*r

Interest(r=0.05,5000,3)

SyntaxError: ignored

In [ ]:
A=int(input())
B=int(input())
C=int(input())
d=0
cnt=0
while A>0:
  d=B+C
  if A>=d:
    A=A-d
    cnt=cnt+1
  elif d>A:
    A=abs(d-A)
    cnt=cnt+1
print(cnt)

5
3
2
1

In [ ]:
import math
A=int(input())
A=A/200.0
if A >= 0:
   A += 0.5
else: 
   A -= 0.5
k = 0
if A >= 0:
   k = math.floor(A)
else: 
   k = math.ceil(A)
print(k)

53953
270

In [ ]:
A=int(input())
B=int(input())
C=int(input())
d=0
cnt=0
while C>0:
  C=B+C
  C=C-A
  cnt=cnt+1
print(cnt)

4
3
2
2

In [ ]:
A=int(input())
B=int(input())
hght_meter=A*0.01
BMI=round((B/(hght_meter*hght_meter)),1)
if BMI<18.5:
  print("Underweight")
  print(BMI)
elif 18.5<BMI<24.9:
  print("Normal weight")
  print(BMI)
elif 24.9<BMI<29.9:
  print("Overweight")
  print(BMI)
elif BMI>29.9:
  print("Obese")
  print(BMI)

129
31
Normal weight
18.6

In [ ]:
def calculate(A=659176222,B=-659176222):
  C=A//B
  print(C)
calculate()

-1

In [ ]:
runs=[10,20,30,40,50]

In [ ]:
lst=[56, 63, 87, 24, 32, 13, 15, 19, 44, 52]
def fidd(lst):
  diff = 0
  sum_even=0
  sum_odd=0
  for x in lst:
      if x%2==0:
         sum_even=sum_even+x
      else:
         sum_odd=sum_odd+x
      if sum_even>=sum_odd:
         diff=sum_even-sum_odd
      else:
         diff=sum_odd-sum_even
    
  return diff
  

print(fidd(lst))

11

In [ ]:
lst=[52, 63, 87, 22, 32, 22, 15, 19, 44, 52]
dupel=lst[0]
def dup(lst):
  for x in lst:
    if dupel==x:
      print(True)
    
dup(lst)

True
True

In [ ]:
ans=None
def dup_check(lst):
  for x in range(len(lst)-1):
    if lst[x]==lst[x+1]:
      ans=True
      break
    else:
      ans=False
  return ans

lst = [13, 1, 1, 1, 13]
dup_check(lst)

True

In [ ]:
sampl = None
def dup_anywhere_check(lst):
  for x in range(len(lst)-1):
    if sampl!=lst[x]:
      sampl=x
      if lst[x]==lst[x+1]:
        print("yes")
lst = [13, 1, 1, 1, 13]
dup_anywhere_check(lst)

NameError: ignored

In [ ]:
LST=[1,2,3,4,['A',['x','y'],'C'],5]

In [ ]:
LST[4]

['A', ['x', 'y'], 'C']

In [ ]:
LST[4][1]

['x', 'y']

In [ ]:
LST[4][1].remove('y')

In [ ]:
LST

[1, 2, 3, 4, ['A', ['x'], 'C'], 5]

In [ ]:
N=int(input())
A=input()
X=int(input())
l=A.split()
for x in range(len(l)):
    l[x] =int(l[x])
l.pop(X)
print(l)

4
1 2 3 4 5 6
3
[1, 2, 3, 5, 6]

In [ ]:
n=list(map(int, input().split()))
print(n)

4 1 2 3 4 5
[4, 1, 2, 3, 4, 5]

In [ ]:
N = list(map(int,input().split()))
N_num = N.pop(0)
print(N)
print(N_num)

4 1 2 3 4
[1, 2, 3, 4]
4

In [ ]:
type(N[1])

int

In [ ]:
lst=[5,4,2,2,5]
found=0
def solve(A, B):
      global found
      for x in range(len(A)):
          if A[x]==B:
              found=found+1
          else:
              pass
      return found


print(solve(lst,5))

2

**FIND MAX AND MIN VALUE**

In [ ]:
nums = [1, 2, -50, -8, -9, 1, 0, -45, 23, 867, 12]
# Minimum
minVal = nums[0]
maxVal = nums[0]

for x in nums:
    if minVal > x:
        minVal = x
    if maxVal <x:
        maxVal = x
        
print(minVal)
print(maxVal)

-50
867

In [ ]:
A=list(map(int,input().split()))
print(A)
print(A[0])

4 1 2 3 5
[4, 1, 2, 3, 5]
4

**REVERSAL OF LIST**

In [ ]:
#Trial reversal of list
A=int(input())
N=input()
l=N.split()
for x in range(A):
  l[x]=int(l[x])
p=l.pop(A-1)
l.insert(0,p)
print(l)

5
1 2 3 4 5
[5, 1, 2, 3, 4]

In [ ]:
def shopping_list():
  shoplist=[]
  ''' input:take items as inputs (strings) from the user
      output:Print the shopping list.'''
  # YOUR CODE GOES HERE
  T=True
  A='end'
  while True:
      N=input()
      shoplist.append(N)
      if N=="end":
          break
  shoplist.remove("end")
  print(shoplist)
  
  '''Calling the function'''

shopping_list()

diya
tel
patakha
end
['diya', 'tel', 'patakha']

In [ ]:
nums = [5, 2, 7, -8, -9, 1, 0, -45, 23, 867, 12]
N = len(nums)
for i in range(N-1,-1,-1):
    print(nums[i], end=' ')

12 867 23 -45 0 1 -9 -8 7 2 5

In [ ]:
N=list(map(int,input().split()))
N.pop(0)
N_REV=[]
for x in range(len(N)-1,-1,-1):
    N_REV.append(N[x])
print(N_REV)

5 1 2 3 4 5
[5, 4, 3, 2, 1]