<a href="https://colab.research.google.com/github/ujjawala1501/Python_Practice_Problems/blob/main/String_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**QUESTION **
Check in ascending or descending

In [ ]:
T=int(input())
A_lst=[]
cnt=True
for i in range(0,T):
  N=int(input())
  for j in range(0,N):
    A=int(input())
    A_lst.append(A)
for asc in range(1,len(A_lst)):
  if A_lst[asc]<A_lst[asc-1]:
    cnt=False
print(cnt)

1
5
5
4
1
2
3
[5, 4, 1, 2, 3]
False

In [ ]:
T=int(input())
cnt="DESCENDING"
for i in range(0,T):
  N=int(input())
  D_lst=[]
  for j in range(0,N):
    D=int(input())
    D_lst.append(D)
  for desc in range(1,len(D_lst)):
    if D_lst[desc]>D_lst[desc-1]:
      cnt="ASCENDING"
print(cnt)

2
1
1
4
4
3
2
1
DESCENDING

In [ ]:
A="lisamausi ne delhi"
len(A)
print(A.split())
print(list(A))
B=A[-1:-5:-1]
print(B)
print(A)

['lisamausi', 'ne', 'delhi']
['l', 'i', 's', 'a', 'm', 'a', 'u', 's', 'i', ' ', 'n', 'e', ' ', 'd', 'e', 'l', 'h', 'i']
ihle
lisamausi ne delhi

In [ ]:
S="Harry potter and the deathly Hollows with hamanD"

c1=S.count("and")
print(c1)

1

In [ ]:
a = "Hello"
b = a
a = "Yello"
print(b)

Hello

In [ ]:
a = "batman"
b = a
b.replace("b", "c")
print(a)
print(b)

batman
batman

**Question 1**

You are given a character string A, having length N and an integer ASCII code B.

You have to tell the leftmost occurrence of the character having ASCII code equal to B, in A or report that it does not exist

In [ ]:
A="aaabbc"
B=100
'''
for i in range(0,len(A)):
  if ord(A[i])==B:
    print(i)
    break
    '''

Z=chr(B)
C=A.find(Z)
print(C)

-1

**Question**

You are given a character string A and two integer ASCII codes B and C.

You have to find and replace all the occurrences of the character having ASCII code equal to B with character having ASCII code equal to C and return the resultant string.

**Input 1:**

 A = "aabbccbb"
 B = 98 
 C = 100

**output**

 aaddccdd

In [ ]:
A = "aabbccbb" 
B = 98 
C = 100

opt=A.replace(chr(B),chr(C))
print(opt)

aaddccdd

**QUESTION**

Given the input date in DD/MM/YYYY format as a string, write a function that returns the converted date in the string formats MM/DD/YYYY and YYYY/MM/DD and return the new date formats.

First input line will have the number of test cases. There will be a single line of input for each
testcase which will consist of date in the string format DD/MM/YYYY. 

**Sample Input:**

1
"08/12/1998"

**Sample Output:**

12/08/1998

1998/12/08

**DOUBT**
HOW TO RETURN TWO VALUES AT ONCE?

In [ ]:
def dtfrmt(A):  
  
  B=A.split("/")
  print(B)
  C1=['0','0','0']
  C2=['0','0','0']

  C1[0]=B[1]
  C1[1]=B[0]
  C1[2]=B[2]
  D1="/".join(C1)
  
  C2[0]=B[2]
  C2[1]=B[1]
  C2[2]=B[0]
  D2="/".join(C2)
  
  return D1,D2

print(dtfrmt("08/12/1998"))

['08', '12', '1998']
12/08/1998 1998/12/08
None

In [ ]:
0%2

0

In [ ]:
print("hello"+1+2+3)

TypeError: ignored

In [ ]:
a = "Random String"
e = "Rand" + "" + "om Str" + "" + "ing"
print(e)
d=a[::]
print(d)
c=str(a)
print(c)

Random String
Random String
Random String

**QUESTION:**

Given a list words, complete the function upper_char() to find the words from the list that have the third character in uppercase.

words= ['goOd','mORNing','HOW','are','yoU','todAy']

def upper_char(words):
  output=[]
  for i in range(len(words)):
    _________________________:
      output.append(words[i])
  return output
upper_char(words)

**ANSWER:**

if words[i][2].isupper() == True:

**QUESTION**

What will be the value of converted_word, if the following operations in the following code snippet are executed?

word = "Scaler Academy"
n = len(word)
word1 = word.upper()
word2 = word.lower()

converted_word = ""

for i in range(n):
     if i % 2 == 0:
          converted_word += word2[i]
     else:
          converted_word += word1[i]

**ANSWER**

sCaLeR AcAdEmY is the correct option.
According to the code, all even indexed characters are lowercase and all odd places are uppercase.
Space character is the same in both lowercase and uppercase, but it is included in the character count.

**QUESTION**

What will be the output of the following code snippet?

a = ‘hello’
b = a
a = ‘yello’

print(b)
print(a)

**Options:**

A) hello
  yello

**QUESTION**

Select the correct output of the following code:

str1 = "quick brown fox word!"
print(str1[12:15], str1[:5], str1[-5:-1], str1[8:110], str1[-4:])

**ANSWER**

fox quick word own fox word! ord!

In [ ]:
#WHEN WE ONLY HAVE ONE VALUE PYTHON TAKES IT AS A STRING .IF YOU WANT TO CREATE A TUPLE WITH ONLY ONE VALUE DO THIS t=("sahil",) 
#put one comma at the end or t="sahil",
t = ("Sahil")
type(t)

str

In [ ]:
print(type((1,2,3)))

<class 'tuple'>

In [ ]:
t=tuple('hello world')
print(t)

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')

In [1]:
#What is the output of the following?
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))

Object `following` not found.
{1, 2}
{1, 2, 3, 4, 5}
{3}

In [2]:
s = "hello"
print(s[0:9])

hello